<script src="/adminsite/fcktoolbox/fckeditor/editor/dialog/common/fck_dialog_common.js" type="text/javascript"></script>
<script src="/adminsite/fcktoolbox/kosmos/plugins/flvPlayer/flvPlayer.js" type="text/javascript"></script>
<link href="/adminsite/fcktoolbox/fckeditor/editor/dialog/common/fck_dialog_common.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
<!--
document.writeln(FCK.TempBaseTag);
-->
</script>
<div id="divInfo">
	<input disabled="disabled" type="hidden" id="txtImgURL">
	<input disabled="disabled"  type="hidden" id="txtLocal">
	<table cellspacing="1" cellpadding="1" border="0" width="100%" height="100%">
		<tr>
			<td valign="top" colspan=3>
				<table cellspacing="0" cellpadding="0" width="100%" border="0">
					<tr>
						<td valign="top" width="100%">								
							<span fckLang="DlgFLVPlayerURL">.FLV Movie</span><br>
							<input disabled="disabled" style="width:100%;" type="text" id="txtUrl">
						</td>
						<td id="tdBrowse" valign="bottom" nowrap>
							&nbsp; <input type="button" value="Modifier la ressource" onclick="basculeOngletsDispos();" id="btnBrowse">
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td valign="top" width="50%">
				<fieldset>
					<legend><span fcklang="DlgFLVPlayerMovieAttrs">Movie Attributes</span></legend>
						<table cellspacing="0" cellpadding="0" width="100%" border="0">
							<tr>
								<td valign="top" colspan=2>
									<input type="checkbox" class="CheckBox" checked id="chkFullscreen">
									<span fckLang="DlgFLVPlayerFullscreen">Allow Fullscreen</span>
								</td>
							</tr>
						</table>
				</fieldset>
			</td>
			<td valign="top">&nbsp;</td>
			<td valign="top" width="50%">
				<fieldset>
					<legend><span fcklang="DlgFLVPlayerPlayerAttrs">Player Attributes</span></legend>
						<table cellspacing="0" cellpadding="0" width="100%" border="0">
							<tr>
								<td valign="top"><span fckLang="DlgFLVPlayerWidth">Movie Width (px)</span>&nbsp;</td>
								<td valign="top"><input type="text" size="5" id="txtWidth"></td>
							</tr>
							<tr>
								<td valign="top"><span fckLang="DlgFLVPlayerHeight">Movie Height (px)</span>&nbsp;</td>
								<td valign="top"><input type="text" size="5" id="txtHeight"></td>
							</tr>
							<tr> 
								<td><span fckLang="DlgFLVPlayerBgColor">Bg Color</span>&nbsp;</td>
								<td><input id="txtBgColor" type="text" size="8">
								<input type="button" fckLang="DlgFLVPlayerBtnSelect" value="Select..." onclick="SelectColor1()">
								</td>
							</tr>
							<tr> 
								<td><span fckLang="DlgFLVPlayerTBColor">Toolbar Color</span>&nbsp;</td>
								<td><input id="txtToolbarColor" type="text" size="8">
								<input type="button" fckLang="DlgFLVPlayerBtnSelect" value="Select..." onclick="SelectColor2()">
								</td>
							</tr>
							<tr> 
								<td><span fckLang="DlgFLVPlayerTBTColor">Toolbar Text Color</span>&nbsp;</td>
								<td><input id="txtToolbarTxtColor" type="text" size="8">
								<input type="button" fckLang="DlgFLVPlayerBtnSelect" value="Select..." onclick="SelectColor3()">
								</td>
							</tr>
							<tr> 
								<td><span fckLang="DlgFLVPlayerTBTRColor">Toolbar Text Rollover Color</span>&nbsp;</td>
								<td><input id="txtToolbarTxtRColor" type="text" size="8">
								<input type="button" fckLang="DlgFLVPlayerBtnSelect" value="Select..." onclick="SelectColor4()">
								</td>
							</tr>
							<tr>
								<td valign="top" colspan=2>
									<input type="checkbox" class="CheckBox" checked id="chkShowDigits">
									<span fckLang="DlgFLVPlayerShowDigits">Display Time</span>
								</td>
							</tr>
							<tr>
								<td>
									<span fcklang="DlgImgHSpace">HSpace</span>&nbsp;</td>
								<td>
									<input type="text" size="2" id="txtHSpace" value="5" /></td>
							</tr>
							<tr>
								<td nowrap="nowrap">
									<span fcklang="DlgImgVSpace">VSpace</span>&nbsp;</td>
								<td>
									<input type="text" size="2" id="txtVSpace" value="5" /></td>
							</tr>
							<tr>
								<td><span fckLang="DlgFLVPlayerAlign">Align</span>&nbsp;</td>
								<td>
									<select name="selAlign" id="selAlign" style="width:120px;">
										<option value="" selected="selected"></option>
										<option fckLang="DlgFLVPlayerAlignLeft" value="left">Left</option>
										<option fckLang="DlgFLVPlayerAlignCenter" value="center">Center</option>
										<option fckLang="DlgFLVPlayerAlignRight" value="right">Right</option>
									</select>
								</td>
							</tr>
							<tr>
								<td valign="top" colspan=2>&nbsp;</td>
							</tr>
						</table>
				</fieldset>
			</td>
		</tr>
  </table>
</div>
<script type="text/javascript">window_onload();</script>
