/*--------------------------------------------------|
| dTree 2.05 | www.destroydrop.com/javascript/tree/ |
|---------------------------------------------------|
| Copyright (c) 2002-2003 Geir Landrö               |
|--------------------------------------------------*/

#dtree {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #666;
}
#dtree img {
    border: 0px;
    vertical-align: middle;
}
#dtree a {
    color: #333;
    text-decoration: none;
}
#dtree a.node, #dtree a.nodeSel {
    padding: 1px 2px 1px 2px;
}
#dtree a.node:hover, .dtree a.nodeSel:hover {
    color: #333;
    text-decoration: none;
}
#dtree a.nodeSel {
    background-color: #c0d2ec;
}
#dtree .clip {
    overflow: hidden;
}