


//
// make-grid
// Usine à générer la grille
//
// @param : variables dans le scope du mixin (ici à la racine : globales)
//

@mixin make-grid($cols, $gutter) {
    @each $breakpoint in map-keys($grid-breakpoints) {
        @media (min-width: map-get($grid-breakpoints, $breakpoint)) {
            @for $i from 1 through $cols {
                .col--#{$breakpoint}-#{$i},
                .push--#{$breakpoint}-#{$i} {
                  // Création d'une variable qui effectue le calcul de largeur :
                  $col-width-calculated: (100% / $cols * $i);
                  // On place cette valeur calculée que tout navigateur comprendra, en fall-back :
                  width: $col-width-calculated;
                  // Pour les navigateurs comprenant calc() on sert le motif brut du calcul :
                  width: calc(100% / #{$cols} * #{$i} );
                  float: left;
                }
            }
            .is-full-height--#{$breakpoint} {
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
            }

            @for $i from 1 through 6 {
              .row--#{$breakpoint}-#{$i} {
                height: $i * $slotHeight;
              }
            }

        }
    }
}

// Ce mixin sert à provoquer des ruptures dans les colonnes, sans avoir recours
// à une nouvelle rangée (un simple clear:left; en fait).
//
// Les ruptures s'opèrent entre 2 breakpoints :
// (min-width: 1er breakpoint) and (max-width: 2e breakpoint),
// sauf pour la dernière rupture, qui va du breakpoint xl à l'infini.
//
// Autrement formulé :
// soit une rangée de 12 colonnes.
// Si on place une classe .col-break--md sur la 7e colonne (6 + 1 = la moitié + 1)
// Alors, entre les breakpoint md et lg, on obtiendra une rangée coupée en 2
// et simulant graphiquement 2 rangées de 6 colonnes.
// (un clear: left; sera posé sur la colonne qui opèrera la cassure au sein des float.)
//
// Ce mixin est par exemple utilisé sur l'écran listant les dossiers partagés.
//
@mixin make-grid-break() {
    @each $breakpoint in map-keys($grid-breakpoints) {
      @if length(map-values($grid-breakpoints)) > index(map-keys($grid-breakpoints), $breakpoint) {
        @media (min-width: map-get($grid-breakpoints, $breakpoint)) and (max-width: nth(map-values($grid-breakpoints), index(map-keys($grid-breakpoints), $breakpoint) + 1) - 1px) {
          .col-break--#{$breakpoint} {
            clear: left;
          }
        }
      } @else {
        // Pour la dernière rupture, entre xl et l'infini
        @media (min-width: map-get($grid-breakpoints, $breakpoint)) {
          .col-break--#{$breakpoint} {
            clear: left;
          }
      }
    }
  }
}


//
// make-responsive-debug
// En ajoutant une classe `.responsive-debug` à l’élément `body`
// affiche un élément fournissant le breakpoint correspondant.
//
// @param : variables dans le scope du mixin (ici à la racine : globales)
//

@mixin make-responsive-debug() {
    @each $breakpoint in map-keys($grid-breakpoints) {
        @media (min-width: map-get($grid-breakpoints, $breakpoint)) {
                body.responsive-debug:before {
                  content: '#{$breakpoint}';
                }
        }
    }
}
