@import "zen";
@import "layout-utils-legacy";

// siteCom layout
$zen-column-count: 4;
$parent-column-count: 4;

.layout__simple-grid--siteCom {
  margin-left: 13.6em;

  .layout__gridSlot {
    @include zen-grid-flow-item(1);
    @extend .slot;
    display: inline-block;
  }
  @include columnSpans($zen-column-count);
  @include rowSpans(4, $slotHeight);
}


// siteCom layout
$zen-column-count: 6;
$slotHeight: 11.1em;

.layout__simple-grid--sitePortail {
  margin-left: 13.6em;

  .layout__gridSlot {
    @include zen-grid-flow-item(1);
    @include zen-float(left);
    @extend .slot;
  }
  @include columnSpans($zen-column-count);
  @include rowSpans(6, $slotHeight);
}
