// Onglets ==========================================

#onglets {
  font-weight: 700;
  list-style-type: none;
  margin: 1.5em auto 0;
  max-width: 95%;
  padding: 0 1em;
  width: 80em;
  a {
    color: inherit;
    text-decoration: none;
  }

  li {
    background: rgba(255, 255, 255, .5);
    cursor: pointer;
    display: inline-block;
    margin: 0 .5em 0 0;
    padding: .5em 1em;
    &:hover {
      background: #fff;
    }
    &.o_indispo {
      display: none;
    }
    &.active,
    &:active {
      background-color: #fff;
    }
  }
  &[data-ui] {
    li {
      padding: 0;
      a {
        display: inline-block;
        padding: .5em 1em;
      }
    }
  }
}

.ktooltip {
  display : block;
  font-style: italic;
  font-weight: 300;
  &::before{
    background:  #0091b5 url("/adminsite/images/help.png") no-repeat ;
    background-size: 100% 100%;
    border-radius: 1em;
    content: '';
    display: inline-block;
    height: 1em;
    margin-right: 0.25em;
    width: 1em;
  }
}
