.toolbox,
.popup {
    background: #fff;
    padding: 0;

    p {
        margin: 0 0 1.5em;
    }

    h2 {
        border: 0;
        display: none;
    }

    #content {
        box-shadow: none;
        max-width: auto !important;
        width: auto;

        > ul {
            font-weight: 700;
            li {
                margin: 0;
            }
        }
    }

    fieldset,
    .fieldset {
      &.neutre {
        padding: 2em 0;
      }
    }

    legend {
        box-shadow: -2px 2px 0 $complementaire - #444444;
        margin-left: 0;
        padding: .5em 1em;
        &:before {
            display: none;
        }
    }

    label,
    .label {
        &.colonne {
            width: 12em;
        }
    }

    input,
    select,
    textarea {
        max-width: 48em;
    }

    #onglets {
        border-bottom: 2px solid rgba(0, 0, 0, .1);
        width: auto;
        li {
            background-color: rgba(0, 0, 0, .1);
            border: 2px solid #e5e5e5;
            position: relative;
            bottom: -2px;
        }
    }
    
    .retrait{
        margin-left: 12em;
    }
}

.toolbox {

  #content {
    margin: 0;
    padding: 0;
  }

  #actions.sticky,
  .actions.sticky {
    padding: 1.5em;
  }

}

#iframeLinkTypeLienInterne{
    height: 510px;
}

#iframe_rubrique{
    height: 510px;
}

// =================================

.header_k_link {
    background: #eee;
    padding: 1em;
}


.ckeditor {
    margin : 1em 0;
}