/**
 * JsTree Style 
 * This file defines custom style for ksup jstree, regardless of the selected theme
 **/
 
 .kTree{
	min-height: 25em;
	padding: 1.5em !important;
}

.filtre + .kTree{
	border-top: 2px dotted #ccc;
}
 
 .jstree-ksup {
	padding: 1.5em;
 }
  
.kTree.jstree li{
 	min-height: 24px;
 	line-height: 24px;
 	margin-left: 28px;
 } 
 
.kTree.jstree li ins{
 	height: 24px;
 	width: 24px;
 }
 
.kTree.jstree li:not(.jstree-leaf) > ins{
 	cursor: pointer;
 }
 
.kTree.jstree li a{
 	min-height: 22px;
 	line-height: 21px;
 	font-size: 1.1em;
 	max-width: 75%;
 }
 
.kTree.jstree li .jstree-node-title{
 	white-space: nowrap;
 	text-overflow: ellipsis;
 	max-width: 85%;
 	overflow: hidden;
 	display: inline-block;
 	vertical-align : middle;
 }
 
.kTree.jstree li a ins{
 	height: 24px;
 	width: 24px;
 }
 
 #vakata-dragged{
 	 border: 1px solid #ffb622; 
 	 background:#fcefd6;
 }
 
 .jstree-filtered .jstree-leaf a{
 	color: orange;
 	font-weight: 700;
 	font-style: italic;
 }
 
 /* Ksup element icons */
 
 /* Locked */
 #content .kTree li[rel="locked"] > a, #content .kTree li[rel="not_selectable"] > a{
 	cursor: default;
 }
 
 
#content .kTree li[rel="locked"] > a > ins.jstree-checkbox{
	background-image: url(images/24x24/tree/cadenas.png);
	background-position: 50% 50%;
}

#content .kTree li[rel="locked"] > ins.jstree-icon{
	cursor: default;
	background-position: -62px -8px;
}
 
 /* Restrictions */
 #content .kTree li.restrained > a > ins.jstree-icon{
  	position: relative;
 }
 #content .kTree li.restrained > a > ins.jstree-icon:after{
 	content: "";
 	background-image: url(images/24x24/tree/restriction.png);
 	height: 9px;
 	width: 9px;
 	display: block;
 	position: absolute;
 	top: 2px;
 	right: 0;
 }
 
 /*Rubriques : rubrique_*typerubrique* */
 #content .kTree li.rubrique_root > a  {
 	cursor: default;
 }
 #content .kTree li.rubrique_root > a > ins.jstree-icon{
 	background-image: url(images/24x24/tree/rubrique-tree-icon.png);
 	background-position: 0 -2px;
 }
 #content .kTree li.rubrique_0001 a ins.jstree-icon{
 	background-image: url(images/24x24/tree/rubrique-tree-leaf-icon.png);
 	background-position: 0 -2px;
 }
 
 #content .kTree li[rel="rubrique_site"] > a > ins.jstree-icon{
 	background-image: url(images/24x24/tree/rubrique-site-tree-icon.png);
 	background-position: -3px -2px;
 }
 
 /* Structures : structure_*code_object*_*typestructure* */
 #content .kTree li.structure_root > a > ins.jstree-icon{
 	background-image: url(images/24x24/tree/structure-tree-icon.png);
 	background-position: 0 -3px;
 }
  #content .kTree li.structure_0020_0000 > a > ins.jstree-icon{
 	background-image: url(images/24x24/tree/labo-tree-leaf-icon.png);
 	background-position: 0 -3px;
 }
  #content .kTree li.structure_0001_0000 > a > ins.jstree-icon{
 	background-image: url(images/24x24/tree/structure-tree-leaf-icon.png);
 	background-position: 0 -3px;
 }
 
  /*Groupes : groupe_*typegroupe* */
 #content .kTree li.groupe_root > a > ins.jstree-icon{
 	background-image: url(images/24x24/tree/group-tree-icon.png);
 	background-position: -2px -6px;
 }
 #content .kTree li.groupe_PRF a ins.jstree-icon{
 	background-image: url(images/24x24/tree/group-tree-leaf-icon.png);
 	background-position: -2px -6px;
 }