div#overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1090;
    width: 100%;
    height: 500px;
}

div#lightbox {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1100;
    text-align: center;
    line-height: 0;
}

div#lightbox a img {
    border: none;
}

div#lightbox a#topNavClose {
    top: 10px;
    right: 10px;
    z-index: 3003;
    position: absolute;
}

div#lightbox div#outerImageContainer {
    position: relative;
    margin: 0 auto;
    background-color: #fff;
    width: 250px;
    height: 250px;
}

div#lightbox #imageDataContainer {
    font: 10px Verdana, Helvetica, sans-serif;
    background-color: #fff;
    margin: 0 auto;
    line-height: 1.4em;
    overflow: auto;
    width: 100%;
}

div#lightbox div#outerImageContainer div#imageContainer {
    padding: 10px;
}

div#lightbox div#outerImageContainer div#imageContainer div#lightboxcontent
    {
    margin: auto;
}

div#loading {
    position: absolute;
    top: 40%;
    left: 0%;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
}

span#navPage {
    float:right;
    margin:5px 0 0 0;
    line-height:20px;
}

a#prevLink,a#nextLink {
    vertical-align: middle;
    outline: none;
    width: 25px;
    height: 20px;
    background: transparent url(/images/mediatheque/blank.gif) no-repeat;
    /* Trick IE into showing hover */
    float: left;
}

a#prevLink {
    background: url(/images/mediatheque/prevP.png) left 40% no-repeat;
}

a#nextLink {
    background: url(/images/mediatheque/nextP.png) right 40% no-repeat;
}

div#imageData {
    padding: 0 10px;
    color: #666;
}

div#imageData div#imageDetails {
    text-align: left;
}

div#imageData div#imageDetails span#caption {
    font-weight: bold;
}

div#imageData div#imageDetails span#numberDisplay {
    float: left;
}

div#imageData div#bottomNav {
    text-align: right;
}

div#imageData a#bottomNavClose {
    vertical-align: middle;
    text-decoration: none;
    z-index:1100;
    float: right;
    margin-bottom: 3px;
}

div#imageData a#bottomNavClose:focus {
    outline: none;
    color: #666;
    background: #fff;
}

div#lightboxXL object {
    z-index: 1998;
}