/*
Copyright (c) 2003-2014, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.md or http://ckeditor.com/license
*/
.cke_dialog {
    visibility: visible
}

.cke_dialog tr:nth-child(even) {
    background: #fff;
}

.cke_dialog_background_cover {
    background: #c6c6c6 !important
}

.cke_dialog_body {
    z-index: 1;
    background: #fff;
    border: 1px solid #007d9c;
    box-shadow: 0 0 10px 1px #a3bde3
}

.cke_browser_gecko19 .cke_dialog_body {
    position: relative
}

.cke_dialog_title {
    background: #f5f5f5;
    box-sizing: border-box;
    cursor: move;
    color: #474747;
    font-size: 13px;
    position: relative;
    padding: 10px 14px;
    cursor: default;
    display: inline-block;
    -moz-transition-property: width;
    -o-transition-property: width;
    -webkit-transition-property: width;
    transition-property: width;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    width: 100%;
}

.cke_dialog strong {
    font-weight: bold
}

.cke_dialog_contents {
    background-color: #fff;
    overflow: auto;
    padding: 15px 10px 5px 10px;
    margin-top: 30px;
    border-top: 1px solid #d4d4d4;
    border-radius: 0 0 3px 3px
}

.cke_dialog_contents_body {
    overflow: auto;
    padding: 17px 14px 0 14px;
    margin-top: 22px
}

.cke_dialog_footer {
    background: #f5f5f5;
    text-align: right;
    position: relative;
    border: 0
}

.cke_rtl .cke_dialog_footer {
    text-align: left
}

.cke_hc .cke_dialog_footer {
    outline: 0;
    border-top: 1px solid #fff
}

.cke_dialog .cke_resizer {
    margin-top: 40px;
    border-color: transparent #666 transparent transparent
}

.cke_dialog .cke_resizer_rtl {
    margin-left: 2px
}

.cke_dialog .cke_resizer_ltr {
    margin-right: 2px;
    margin-left: -12px
}

.cke_dialog_tabs {
    height: 25px;
    margin: 5px 0 0;
    position: absolute;
    z-index: 2;
    left: 10px
}

.cke_rtl .cke_dialog_tabs {
    right: 10px
}

a.cke_dialog_tab {
    height: 16px;
    padding: 4px 8px;
    margin-right: 3px;
    display: inline-block;
    cursor: default;
    line-height: 16px;
    outline: 0;
    color: #444;
    border-bottom-color: #d4d4d4;
    background: #fafafa
}

.cke_rtl a.cke_dialog_tab {
    margin-right: 0;
    margin-left: 3px
}

a.cke_dialog_tab:hover {
    color: #007d9c;
}

a.cke_dialog_tab_selected {
    padding: 4px 7px 5px;
    color: #007d9c;
    border: 1px solid #d4d4d4;
    border-bottom: 0;
    cursor: default
}

.cke_hc a.cke_dialog_tab:hover, .cke_hc a.cke_dialog_tab_selected {
    border: 3px solid;
    padding: 2px 6px
}

a.cke_dialog_tab_disabled {
    color: #bababa;
    cursor: default
}

.cke_single_page .cke_dialog_tabs {
    display: none
}

.cke_single_page .cke_dialog_contents {
    padding-top: 5px;
    margin-top: 0;
    border-top: 0
}

.cke_dialog_close_button {
    background-image: url(images/close.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    cursor: pointer;
    text-align: center;
    height: 16px;
    width: 16px;
    border: 1px solid transparent;
    top: 5px;
    z-index: 5;
    cursor: default
}

.cke_hidpi .cke_dialog_close_button {
    background-image: url(images/hidpi/close.png);
    background-size: 16px
}

.cke_dialog_close_button:hover {
    background-color: #d5e1f2;
    border-color: #a3bde3
}

.cke_dialog_close_button:active {
    background-color: #a3bde3;
    border-color: #007d9c
}

.cke_dialog_close_button span {
    display: none
}

.cke_hc .cke_dialog_close_button span {
    display: inline;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    top: 3px
}

.cke_ltr .cke_dialog_close_button {
    right: 10px
}

.cke_rtl .cke_dialog_close_button {
    left: 6px
}

.cke_dialog_close_button {
    top: 10px
}

div.cke_disabled .cke_dialog_ui_labeled_content div * {
    background-color: #ddd;
    cursor: default
}

.cke_dialog_ui_vbox table, .cke_dialog_ui_hbox table {
    margin: auto
}

.cke_dialog_ui_vbox_child {
    padding: 5px 0
}

.cke_dialog_ui_hbox {
    width: 100%
}

.cke_dialog_ui_hbox_first, .cke_dialog_ui_hbox_child, .cke_dialog_ui_hbox_last {
    vertical-align: top
}

.cke_ltr .cke_dialog_ui_hbox_first, .cke_ltr .cke_dialog_ui_hbox_child {
    padding-right: 10px
}

.cke_rtl .cke_dialog_ui_hbox_first, .cke_rtl .cke_dialog_ui_hbox_child {
    padding-left: 10px
}

.cke_ltr .cke_dialog_footer_buttons .cke_dialog_ui_hbox_first, .cke_ltr .cke_dialog_footer_buttons .cke_dialog_ui_hbox_child {
    padding-right: 5px
}

.cke_rtl .cke_dialog_footer_buttons .cke_dialog_ui_hbox_first, .cke_rtl .cke_dialog_footer_buttons .cke_dialog_ui_hbox_child {
    padding-left: 5px;
    padding-right: 0
}

.cke_hc div.cke_dialog_ui_input_text, .cke_hc div.cke_dialog_ui_input_password, .cke_hc div.cke_dialog_ui_input_textarea, .cke_hc div.cke_dialog_ui_input_select, .cke_hc div.cke_dialog_ui_input_file {
    border: 1px solid
}

textarea.cke_dialog_ui_input_textarea {
    overflow: auto;
    resize: none
}

input.cke_dialog_ui_input_text, input.cke_dialog_ui_input_password, textarea.cke_dialog_ui_input_textarea {
    background-color: #fff;
    border: 1px solid #c3cbd0;
    padding: 2px 6px;
    outline: 0;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

input.cke_dialog_ui_input_text:hover, input.cke_dialog_ui_input_password:hover, textarea.cke_dialog_ui_input_textarea:hover {
    border: 1px solid #a3bde3
}

input.cke_dialog_ui_input_text:focus, input.cke_dialog_ui_input_password:focus, textarea.cke_dialog_ui_input_textarea:focus, select.cke_dialog_ui_input_select:focus {
    outline: 0;
    border: 1px solid #007d9c
}

input.cke_dialog_ui_input_text, input.cke_dialog_ui_input_password {
    height: 22px
}

a.cke_dialog_ui_button {
    display: inline-block;
    height: 16px;
    line-height: 16px;
    padding: 2px 0;
    margin: 0;
    text-align: center;
    color: #444;
    vertical-align: middle;
    cursor: default;
    border: 1px solid #ababab;
    background: #fff
}

span.cke_dialog_ui_button {
    padding: 0 12px
}

a.cke_dialog_ui_button:focus {
    border-color: #a3bde3;
    background: #e3ecfa;
    outline: 0
}

a.cke_dialog_ui_button:active {
    border-color: #007d9c;
    background: #a3bde3;
    outline: 0
}

a.cke_dialog_ui_button:hover {
    border-color: #a3bde3;
    background: #d5e1f2
}

.cke_hc a.cke_dialog_ui_button:hover span, .cke_hc a.cke_dialog_ui_button:focus span, .cke_hc a.cke_dialog_ui_button:active span {
    padding-left: 10px;
    padding-right: 10px
}

.cke_dialog_footer_buttons a.cke_dialog_ui_button {
    height: 18px
}

.cke_dialog_footer_buttons a.cke_dialog_ui_button span {
    color: inherit;
    font-size: 12px;
    line-height: 18px
}

a.cke_dialog_ui_button_ok {
    border-color: #8dbbfd;
    background: #f4f8ff
}

span.cke_dialog_ui_button {
    cursor: default
}

.cke_dialog_footer_buttons {
    display: inline-table;
    margin: 14px;
    width: auto;
    position: relative;
    vertical-align: middle
}

div.cke_dialog_ui_input_select {
    display: table
}

select.cke_dialog_ui_input_select {
    height: 22px;
    line-height: 22px;
    background-color: #fff;
    border: 1px solid #c3cbd0;
    padding: 1px 1px 1px 6px;
    outline: 0
}

.cke_dialog_ui_input_file {
    width: 100%;
    height: 25px
}

.cke_hc .cke_dialog_ui_labeled_content input:focus, .cke_hc .cke_dialog_ui_labeled_content select:focus, .cke_hc .cke_dialog_ui_labeled_content textarea:focus {
    outline: 1px dotted
}

.cke_dialog .cke_dark_background {
    background-color: #dedede
}

.cke_dialog .cke_light_background {
    background-color: #ebebeb
}

.cke_dialog .cke_centered {
    text-align: center
}

.cke_dialog a.cke_btn_reset {
    float: right;
    background: url(images/refresh.png) top left no-repeat;
    width: 16px;
    height: 16px;
    border: 1px none;
    font-size: 1px
}

.cke_hidpi .cke_dialog a.cke_btn_reset {
    background-size: 16px;
    background-image: url(images/hidpi/refresh.png)
}

.cke_rtl .cke_dialog a.cke_btn_reset {
    float: left
}

.cke_dialog a.cke_btn_locked, .cke_dialog a.cke_btn_unlocked {
    float: left;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    border: none 1px;
    font-size: 1px
}

.cke_dialog a.cke_btn_locked .cke_icon {
    display: none
}

.cke_rtl .cke_dialog a.cke_btn_locked, .cke_rtl .cke_dialog a.cke_btn_unlocked {
    float: right
}

.cke_dialog a.cke_btn_locked {
    background-image: url(images/lock.png)
}

.cke_dialog a.cke_btn_unlocked {
    background-image: url(images/lock-open.png)
}

.cke_hidpi .cke_dialog a.cke_btn_unlocked, .cke_hidpi .cke_dialog a.cke_btn_locked {
    background-size: 16px
}

.cke_hidpi .cke_dialog a.cke_btn_locked {
    background-image: url(images/hidpi/lock.png)
}

.cke_hidpi .cke_dialog a.cke_btn_unlocked {
    background-image: url(images/hidpi/lock-open.png)
}

.cke_dialog .cke_btn_over {
    border: outset 1px;
    cursor: pointer
}

.cke_dialog .ImagePreviewBox {
    border: 2px ridge black;
    overflow: scroll;
    height: 200px;
    width: 300px;
    padding: 2px;
    background-color: white
}

.cke_dialog .ImagePreviewBox table td {
    white-space: normal
}

.cke_dialog .ImagePreviewLoader {
    position: absolute;
    white-space: normal;
    overflow: hidden;
    height: 160px;
    width: 230px;
    margin: 2px;
    padding: 2px;
    opacity: .9;
    filter: alpha(opacity=90);
    background-color: #e4e4e4
}

.cke_dialog .FlashPreviewBox {
    white-space: normal;
    border: 2px ridge black;
    overflow: auto;
    height: 160px;
    width: 390px;
    padding: 2px;
    background-color: white
}

.cke_dialog .cke_pastetext {
    width: 346px;
    height: 170px
}

.cke_dialog .cke_pastetext textarea {
    width: 340px;
    height: 170px;
    resize: none
}

.cke_dialog iframe.cke_pasteframe {
    width: 346px;
    height: 130px;
    background-color: white;
    border: 1px solid #c3cbd0
}

.cke_dialog .cke_hand {
    cursor: pointer
}

.cke_disabled {
    color: #a0a0a0;
}

a.cke_dialog_ui_button.cke_disabled {
    background: #efefef;
    border-color: #d8d8d8;
    color: #a0a0a0;
}

.cke_dialog_body .cke_label {
    display: none
}

.cke_dialog_body label {
    display: inline;
    margin-bottom: auto;
    cursor: default
}

.cke_dialog_body label.cke_required {
    font-weight: bold
}

a.cke_smile {
    overflow: hidden;
    display: block;
    text-align: center;
    padding: .3em 0
}

a.cke_smile img {
    vertical-align: middle
}

a.cke_specialchar {
    cursor: inherit;
    display: block;
    height: 1.25em;
    padding: .2em .3em;
    text-align: center
}

a.cke_smile, a.cke_specialchar {
    border: 1px solid transparent
}

a.cke_smile:hover, a.cke_smile:focus, a.cke_smile:active, a.cke_specialchar:hover, a.cke_specialchar:focus, a.cke_specialchar:active {
    background: #fff;
    outline: 0
}

a.cke_smile:hover, a.cke_specialchar:hover {
    border-color: #888
}

a.cke_smile:focus, a.cke_smile:active, a.cke_specialchar:focus, a.cke_specialchar:active {
    border-color: #007d9c
}

.cke_dialog_contents a.colorChooser {
    display: block;
    margin-top: 6px;
    margin-left: 10px;
    width: 80px
}

.cke_rtl .cke_dialog_contents a.colorChooser {
    margin-right: 10px
}

.cke_dialog_ui_checkbox_input:focus, .cke_dialog_ui_radio_input:focus, .cke_btn_over {
    outline: 1px dotted #696969
}

.cke_iframe_shim {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: alpha(opacity=0);
    width: 100%;
    height: 100%
}

.cke_dialog_body .backbutton {
    background: #ccc;
    box-sizing: border-box;
    color: #545454;
    cursor: pointer;
    display: inline-block;
    height: 3em;
    opacity: 0;
    padding: 0;
    -moz-transition-property: opacity, width;
    -o-transition-property: opacity, width;
    -webkit-transition-property: opacity, width;
    transition-property: opacity, width;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    text-align: center;
    width: 0;
}

.cke_dialog_body .backbutton .icon {
    color: inherit;
    font-family: 'icomoon';
    font-style: normal;
    font-weight: 700;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.cke_dialog_body .backbutton:hover {
    background: #007d9c;
    color: #fff;
}

.cke_dialog_body .backbutton.backbutton--show {
    border-right: 1px solid #a7a7a7;
    opacity: 1;
    width: 3.5em;
}

.cke_dialog_body .backbutton.backbutton--show + .cke_dialog_title {
    width: 95.7%;
}

div.error {
    white-space: normal;
}