.cke_contents_ltr img.cke_kanchor,
.cke_contents_ltr img.cke_anchor,
.cke_contents_rtl img.cke_kanchor,
.cke_contents_rtl img.cke_anchor{
    background: url("../icons/kAnchor.png") no-repeat 50% 50% !important;
    border: 1px dotted #444 !important;
    height: 16px;
    padding: .25em;
    width: 16px;
}