<script src="/adminsite/fcktoolbox/fckeditor/editor/dialog/common/fck_dialog_common.js" type="text/javascript"></script>
<script src="/adminsite/fcktoolbox/kosmos/plugins/k_flash/js/fck_flash.js" type="text/javascript"></script>
<script type="text/javascript">
	document.write( FCKTools.GetStyleHtml( GetCommonDialogCss() ) ) ;
</script>
<div id="divInfo">
	<input id="txtTitle" style="width: 100%" type="hidden" value="" />
	<table cellSpacing="1" cellPadding="1" width="100%" border="0">
		<tr>
			<td colspan="2">
				<table cellSpacing="0" cellPadding="0" width="100%" border="0">
					<tr>
						<td width="100%"><span fckLang="DlgImgURL">URL</span>
						</td>
						<td id="tdBrowse" style="DISPLAY: none" noWrap rowSpan="2">&nbsp; <input id="btnBrowse" onclick="basculeOngletsDispos();" type="button" value="Modifier la ressource" />
						</td>
					</tr>
					<tr>
						<td vAlign="top"><input id="txtUrl" onblur="UpdatePreview();" style="WIDTH: 100%" type="text" disabled="disabled">
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<table cellspacing="0" cellpadding="0" border="0">
					<tr>
						<td nowrap="nowrap">
							<span fckLang="DlgImgWidth">Width</span>&nbsp;</td>
						<td><input id="txtWidth" onkeypress="return IsDigit(event);" type="text" size="3"></td>
					</tr>
					<tr>
						<td nowrap="nowrap">
							<span fckLang="DlgImgHeight">Height</span></td>
						<td><input id="txtHeight" onkeypress="return IsDigit(event);" type="text" size="3">
						</td>
					</tr>
					<tr>
						<td nowrap="nowrap">
							<span fcklang="DlgImgBorder">Border</span>&nbsp;</td>
						<td>
							<input type="text" size="2" value="" id="txtBorder" onkeyup="UpdatePreview();" /></td>
					</tr>
					<tr>
						<td nowrap="nowrap">
							<span fcklang="DlgImgHSpace">HSpace</span>&nbsp;</td>
						<td>
							<input type="text" size="2" id="txtHSpace" onkeyup="UpdatePreview();" value="5" /></td>
					</tr>
					<tr>
						<td nowrap="nowrap">
							<span fcklang="DlgImgVSpace">VSpace</span>&nbsp;</td>
						<td>
							<input type="text" size="2" id="txtVSpace" onkeyup="UpdatePreview();" /></td>
					</tr>
					<tr>
						<td nowrap="nowrap">
							<span fcklang="DlgImgAlign">Align</span>&nbsp;</td>
						<td>
							<select id="cmbAlign" onchange="UpdatePreview();">
								<option value="" selected="selected"></option>
								<option fcklang="DlgImgAlignLeft" value="left">Left</option>
								<option fcklang="DlgImgAlignRight" value="right">Right</option>
							</select>
						</td>
					</tr>
				</table>
			</td>
			<td width="100%" valign="top">
				<table cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed">
					<tr>
						<td><span fckLang="DlgImgPreview">Preview</span></td>
					</tr>
					<tr>
						<td id="ePreviewCell" valign="top" class="FlashPreviewArea"><iframe src="/adminsite/fcktoolbox/kosmos/plugins/k_flash/fck_flash_preview.html" frameborder="0" marginheight="0" marginwidth="0"></iframe></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>
<div id="divAdvanced" style="DISPLAY: none">
	<TABLE cellSpacing="0" cellPadding="0" border="0">
		<TR>
			<TD nowrap>
				<span fckLang="DlgFlashScale">Scale</span><BR>
				<select id="cmbScale">
					<option value="" selected></option>
					<option value="showall" fckLang="DlgFlashScaleAll">Show all</option>
					<option value="noborder" fckLang="DlgFlashScaleNoBorder">No Border</option>
					<option value="exactfit" fckLang="DlgFlashScaleFit">Exact Fit</option>
				</select></TD>
			<TD>&nbsp;&nbsp;&nbsp; &nbsp;
			</TD>
			<td valign="bottom">
				<table>
					<tr>
						<td><input id="chkAutoPlay" type="checkbox" checked></td>
						<td><label for="chkAutoPlay" nowrap fckLang="DlgFlashChkPlay">Auto Play</label>&nbsp;&nbsp;</td>
						<td><input id="chkLoop" type="checkbox" checked></td>
						<td><label for="chkLoop" nowrap fckLang="DlgFlashChkLoop">Loop</label>&nbsp;&nbsp;</td>
						<td><input id="chkMenu" type="checkbox" checked></td>
						<td><label for="chkMenu" nowrap fckLang="DlgFlashChkMenu">Enable Flash Menu</label></td>
					</tr>
				</table>
			</td>
		</TR>
	</TABLE>
	<br>
	&nbsp;
	<table cellSpacing="0" cellPadding="0" width="100%" align="center" border="0">
		<tr>
			<td vAlign="top" width="50%"><span fckLang="DlgGenId">Id</span><br>
				<input id="txtAttId" style="WIDTH: 100%" type="text">
			</td>
			<td>&nbsp;&nbsp;</td>
			<td vAlign="top" nowrap><span fckLang="DlgGenClass">Stylesheet Classes</span><br>
				<input id="txtAttClasses" style="WIDTH: 100%" type="text">
			</td>
			<td>&nbsp;&nbsp;</td>
			<td vAlign="top" nowrap width="50%">&nbsp;<span fckLang="DlgGenTitle">Advisory Title</span><br>
				<input id="txtAttTitle" style="WIDTH: 100%" type="text">
			</td>
		</tr>
	</table>
	<span fckLang="DlgGenStyle">Style</span><br>
	<input id="txtAttStyle" style="WIDTH: 100%" type="text">
</div>
<script type="text/javascript">window_onload();</script>